@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('../assets/images/BackGround.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Optional: fallback color in case the image takes time to load */
    background-color: #000;
  }
}
